<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>



<div class="btn-group" role="group" aria-label="Button group with nested dropdown">

  <div class="container">
    <h1>Navigation</h1>
        <nav>
            <ul class="flex-column">
                <li class="nav-item"><a class="nav-link" href="#"><h2>Gestion des comptes administrateurs</h2></a></li>
                <li class="nav-item"><a class="nav-link" href="#"><h2>Gestion de la base de données</h2></a></li>
                <li class="nav-item"><a class="nav-link" href="#"><h2>Gestion des comptes</h2></a></li>
                <li class="nav-item"><a class="nav-link " href="#"><h2>Consultation des logs</h2></a></li>
                <li class="nav-item"><a class="nav-link " href="#"><h2>Statistiques</h2></a></li>
            </ul>
        </nav>
</div>



<router-outlet></router-outlet>

